module.exports = {
    token: "",
    owner: "",
    prefix: "~",
    youtubeToken: "",
    omdbToken: "",
    jellybeans: {
        maxGive: 3,
        maxTake: 1,
        delayGive: 30,
        delayTake: 30,
    },
    mongoPath: "mongodb://localhost:27017/Jackson-Bot"
}